# ==========================================
# 1. Archivos del Sistema y Herramientas (OS/IDEs)
# ==========================================
.DS_Store
Thumbs.db
.vscode/
.idea/

# ==========================================
# 2. Datos y Bases de Datos (Crucial para este curso)
# ==========================================
# Bases de datos DuckDB
*.duckdb
*.duckdb.wal

# Formatos de datos pesados
*.parquet
*.csv
*.gz
*.json

# Carpetas de datos (en cualquier nivel)
data/
**/data/

# ==========================================
# 3. dbt (Analytics Engineering)
# ==========================================
# Logs y artefactos compilados de dbt
**/target/
**/logs/
dbt_packages/

# ==========================================
# 4. Entornos Virtuales y Python
# ==========================================
.venv/
venv/
env/
__pycache__/
*.pyc

# ==========================================
# 5. Seguridad y Credenciales (¡No subir!)
# ==========================================
.env
*.pem
google_credentials.json
profiles.yml